@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  padding-top: 5rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
